USE [master]
GO
/****** Object:  Database [TestJobDB]    Script Date: 1/28/2014 4:39:12 PM ******/
CREATE DATABASE [TestJobDB] ON  PRIMARY 
( NAME = N'TestJobDB', FILENAME = N'd:\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TestJobDB.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestJobDB_log', FILENAME = N'd:\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TestJobDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestJobDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestJobDB]
GO
/****** Object:  Table [dbo].[Client_JobGroup]    Script Date: 1/28/2014 4:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_JobGroup](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [nvarchar](50) NOT NULL,
	[JobGroupID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Result] [int] NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[Owner] [nvarchar](50) NULL,
 CONSTRAINT [PK_Client_JobGroup] PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClientMachineInfo]    Script Date: 1/28/2014 4:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientMachineInfo](
	[ClientID] [nvarchar](50) NOT NULL,
	[OS] [nvarchar](50) NOT NULL,
	[SystemType] [nvarchar](50) NOT NULL,
	[MachineName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ClientMachineInfo] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Job]    Script Date: 1/28/2014 4:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[ResultInfo] [nvarchar](max) NULL,
	[TaskID] [int] NOT NULL,
	[JobGroupID] [int] NOT NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JobGroup]    Script Date: 1/28/2014 4:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobGroup](
	[JobGroupID] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[TaskGroupID] [int] NOT NULL,
 CONSTRAINT [PK_JobGroup] PRIMARY KEY CLUSTERED 
(
	[JobGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Task]    Script Date: 1/28/2014 4:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [nvarchar](50) NOT NULL,
	[TaskExecuteFilePath] [nvarchar](max) NOT NULL,
	[TaskArgs] [nvarchar](50) NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Task_TaskGroup]    Script Date: 1/28/2014 4:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_TaskGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[TaskGroupID] [int] NOT NULL,
	[TaskOrder] [int] NOT NULL,
 CONSTRAINT [PK_Task_TaskGroup2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaskGroup]    Script Date: 1/28/2014 4:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskGroup](
	[TaskGroupID] [int] IDENTITY(1,1) NOT NULL,
	[TaskGroupName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaskGroup] PRIMARY KEY CLUSTERED 
(
	[TaskGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Client_JobGroup]  WITH CHECK ADD  CONSTRAINT [FK_Client_JobGroup_ClientMachineInfo] FOREIGN KEY([ClientID])
REFERENCES [dbo].[ClientMachineInfo] ([ClientID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Client_JobGroup] CHECK CONSTRAINT [FK_Client_JobGroup_ClientMachineInfo]
GO
ALTER TABLE [dbo].[Client_JobGroup]  WITH CHECK ADD  CONSTRAINT [FK_Client_JobGroup_JobGroup] FOREIGN KEY([JobGroupID])
REFERENCES [dbo].[JobGroup] ([JobGroupID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Client_JobGroup] CHECK CONSTRAINT [FK_Client_JobGroup_JobGroup]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_JobGroup] FOREIGN KEY([JobGroupID])
REFERENCES [dbo].[JobGroup] ([JobGroupID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_JobGroup]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_Task] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Task] ([TaskID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_Task]
GO
ALTER TABLE [dbo].[JobGroup]  WITH CHECK ADD  CONSTRAINT [FK_JobGroup_TaskGroup] FOREIGN KEY([TaskGroupID])
REFERENCES [dbo].[TaskGroup] ([TaskGroupID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobGroup] CHECK CONSTRAINT [FK_JobGroup_TaskGroup]
GO
ALTER TABLE [dbo].[Task_TaskGroup]  WITH CHECK ADD  CONSTRAINT [FK_Task_TaskGroup_Task] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Task] ([TaskID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Task_TaskGroup] CHECK CONSTRAINT [FK_Task_TaskGroup_Task]
GO
ALTER TABLE [dbo].[Task_TaskGroup]  WITH CHECK ADD  CONSTRAINT [FK_Task_TaskGroup_TaskGroup] FOREIGN KEY([TaskGroupID])
REFERENCES [dbo].[TaskGroup] ([TaskGroupID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Task_TaskGroup] CHECK CONSTRAINT [FK_Task_TaskGroup_TaskGroup]
GO
USE [master]
GO
