<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="exposeExceptionDetail">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name ="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:3721/jobservice/metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="TestTechnology.Controller.Service.JobService" behaviorConfiguration="metadataBehavior">
        <endpoint address="http://localhost:3721/jobservice" binding="wsDualHttpBinding" contract="TestTechnology.Controller.Interface.IJobService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>