<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="JobService"
                address="http://localhost:3721/jobservice"
                binding="wsDualHttpBinding"
                contract="TestTechnology.Controller.Interface.IJobService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ClientId" value="E4C9AA89A77B4B2B8B3D6EAD0681CC13"/>
  </appSettings>
</configuration>