<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="JobService"
                address="http://192.168.1.110:3721/jobservice"
                binding="wsDualHttpBinding"
                contract="TestTechnology.Controller.Interface.IJobService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ClientId" value="123"/>
  </appSettings>
</configuration>