<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="JobReturnValues" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <system.serviceModel>
    <client>
      <endpoint name="JobService"
                address="http://192.168.1.110:3721/jobservice"
                binding="wsDualHttpBinding"
                contract="TestTechnology.Controller.Interface.IJobService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ClientId" value="123"/>
  </appSettings>
  <JobReturnValues>
  <add key="copy" value="1" />
  <add key="dir" value="1" />
  </JobReturnValues>
</configuration>